/**************** FORSIDE ***************/

.forside h1 {
  font-size: var(--font-size-mobil-h1);
  justify-self: center;
  margin-block: var(--margin-block-h1);
}

.forside_img {
  width: 300px;
  height: auto;
  justify-self: center;
}

.forside h2 {
  font-size: var(--font-size-mobil-h2);
  margin-block: var(--margin-block-mobil-h2);
}

.forside p {
  max-width: 20ch;
}

.forside_portfolio {
  margin-left: 140px;
}

#forside_projekter {
  font-size: var(--font-size-mobil-h2);
  margin-block: var(--margin-block-mobil-h2);
}

/* img, h2 */
.grid_1-1-1 {
  margin-block: 50px;
}

.img_grid1-1-1 {
  width: 350px;
  height: auto;
  opacity: 0.4;
  border: 2px solid var(--color-h1-h2);
}

.grid_1-1-1 p {
  font-weight: 600;
  font-size: 1.5rem;
}

.firkant_img {
  width: 16px;
  margin-right: 10px;
}

.firkant {
  justify-self: end;
  padding-top: 10px;
}

.firkant_tema {
  margin: 0;
}

.circle_forside {
  margin-top: 40px;
}

.geometrisk_form {
  width: 60px;
  justify-self: right;
  margin-right: 100px;
}

.trekant {
  margin-top: var(--margin-top-trekant);
}

/**************** OM MIG ***************/

.om_mig {
  margin-inline: var(--margin-inline-mobil);
  margin-bottom: 40px;
}

.om_mig h1 {
  font-size: var(--font-size-mobil-h1);
  margin-block: 40px 10px;
}

.portraet {
  width: 400px;
  height: auto;
  justify-self: center;
  margin-bottom: 80px;
}

.udvikling_kompetencer {
  margin-inline: var(--margin-inline-mobil);
}

.udvikling_kompetencer p {
  margin-inline: var(--margin-inline-mobil);
}

.udvikling_kompetencer h2 {
  font-size: var(--font-size-mobil-h2);
  margin-block: var(--margin-block-mobil-h2);
}

.udvikling_kompetencer > p {
  margin-bottom: 60px;
}

/* 70% - 100% */
.kompetence_bar_figma {
  background: linear-gradient(to right, var(--color-link-line) 70%, transparent 70%);
  border: 1px solid var(--color-h1-h2);
  height: 15px;
  align-self: center;
}

.kompetence_bar_kodning {
  background: linear-gradient(to right, var(--color-link-line) 50%, transparent 50%);
  border: 1px solid var(--color-h1-h2);
  height: 15px;
  align-self: center;
}

.kompetence_bar_illustrator {
  background: linear-gradient(to right, var(--color-link-line) 50%, transparent 50%);
  border: 1px solid var(--color-h1-h2);
  height: 15px;
  align-self: center;
}

.kompetence_bar_premiere {
  background: linear-gradient(to right, var(--color-link-line) 40%, transparent 40%);
  border: 1px solid var(--color-h1-h2);
  height: 15px;
  align-self: center;
}

.grid_1-3 {
  margin-block: 40px 40px;
}

.grid_1-3 p {
  align-self: center;
}

.uddannelse_erfaring {
  margin-inline: var(--margin-inline-mobil);
}

.uddannelse_erfaring p {
  margin-inline: var(--margin-inline-mobil);
}

/**************** PROJEKTER ***************/

.projekter {
  font-size: var(--font-size-mobil-h1);
  margin-inline: var(--margin-inline-mobil);
}

/**************** TEMA 2 ***************/

.tema_2-5 h1 {
  font-size: var(--font-size-mobil-h1);
  margin-inline: var(--margin-inline-mobil);
}

.tema_2-5 h2 {
  margin-bottom: 10px;
  /* font-size: 2rem; */
  margin-inline: var(--margin-inline-mobil);
}

.tema_2-5 p {
  margin-inline: var(--margin-inline-mobil);
}

.grey_line {
  background: var(--color-line);
  height: 1px;
  width: 100%;
  align-self: center;
  margin-block: var(--margin-block-mobil-h2);
}

.tema_subheader h2 {
  font-size: var(--font-size-mobil-h2);
  margin-left: var(--margin-left-mobil-tema-h2);
  padding-right: 6px;
  margin-block: var(--margin-block-mobil-h2);
}

.grid_tema_2-5 p,
/* .grid_tema_2-5 img, */
/* .grid_tema_2-5_loesning img*/
.grid_tema_2-5_loesning p {
  margin-inline: var(--margin-inline-mobil);
  margin-bottom: 30px;
  max-width: 45ch;
}

.grid_tema_2-5 .billede-tekst,
.grid_tema_2-5_loesning .billede-tekst {
  color: var(--color-img-text);
  margin: 0;
  font-size: 0.8rem;
}

.tema_2-5_reflektioner p {
  margin-inline: var(--margin-inline-mobil);
  margin-bottom: 30px;
}

.link {
  font-size: var(--font-size-mobil-link);
  border-bottom: 2px solid var(--color-link-line);
}

.link_og_pil p {
  font-size: var(--font-size-mobil-link);
  border-bottom: 2px solid var(--color-link-line);
  text-align: center;
}

.link_og_pil {
  margin-inline: var(--margin-inline-mobil);
  margin-top: var(--margin-top-link);
}

.scale_link {
  transform: scale(1.1);
}

/**************** TEMA 3 ***************/

.proces_midt_cirkel {
  margin-block: 50px;
  margin-right: 100px;
}

/**************** TEMA 5 ***************/

.video {
  margin-inline: var(--margin-inline-mobil);
}

/* aspect-ratio > height:auto */
.video iframe {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
}

/**************** DESKTOP ***************/

@media (min-width: 1000px) {
  /**************** FORSIDE ***************/

  .header_forside {
    margin-bottom: 40px;
  }

  h2 {
    font-size: var(--font-size-desktop-h2);
  }

  .tema_subheader h2 {
    font-size: var(--font-size-desktop-h2);
  }

  .forside {
    margin-inline: 200px;
  }

  .forside h1 {
    font-size: 6rem;
    margin-top: 0;
    justify-self: left;
  }

  .forside_portfolio {
    margin-left: 0;
  }

  .forside_img {
    width: 500px;
    height: auto;
    /* margin-right: 195px; */
  }

  .forside h2 {
    font-size: var(--font-size-desktop-h2);
    margin-top: 0;
  }

  .trekant {
    width: 70px;
    justify-self: left;
    margin-left: 235px;
    z-index: 1000;
    margin-top: 0;
  }

  #forside_projekter {
    font-size: var(--font-size-desktop-h2);
    margin: 0;
    margin-left: 170px;
    margin-block: 200px 60px;
  }

  .firkant_img {
    margin: 0;
  }

  .firkant_forside {
    margin-right: 10px;
  }

  .forside_temaer img {
    align-self: stretch;
    object-fit: cover;
    height: 300px;
    width: 100%;
    justify-self: center;
    filter: grayscale(100%);
  }

  .img_grid1-1-1:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    opacity: 1;
  }

  .forside_temaer a {
    margin-block: 0;
  }

  .grid_1-1-1 {
    margin-block: 0;
  }

  /**************** PROJEKTER ***************/

  .grid_projekter {
    margin-right: 60px;
  }

  .projekter {
    font-size: var(--font-size-desktop-h1);
    writing-mode: sideways-lr;
    justify-self: start;
  }

  /**************** TEMA 2 ***************/

  .tema_2-5 {
    width: fit-content;
  }

  .tema_2-5 h2 {
    margin-inline: 0;
  }

  .tema_2-5 h1 {
    font-size: var(--font-size-desktop-h1);
    writing-mode: sideways-lr;
  }

  .tema_2-5 p {
    margin-inline: 0;
  }

  .trekant_tema {
    margin-left: 290px;
    margin-top: 20px;
    justify-self: start;
  }

  .grid_tema_2-5,
  .tema_subheader,
  .grid_tema_2-5_loesning {
    margin-inline: var(--margin-inline-desktop-tema-text);
  }

  .tema_subheader {
    margin-block: var(--margin-block-desktop-h2);
  }

  .forside_temaer {
    margin-inline: 400px 50px;
  }

  .grid_tema_2-5 img {
    margin-inline: 0;
  }

  .grid_tema_2-5_loesning img {
    margin-inline: 0;
    max-width: 450px;
  }

  .circle_loesning {
    margin-right: 310px;
  }

  .tema_2-5_reflektioner_p {
    margin-inline: var(--margin-inline-desktop-tema-text);
  }

  .link_og_pil {
    width: fit-content;
  }

  .link_og_pil a {
    font-size: var(--font-size-desktop-link);
    margin-left: var(--margin-left-desktop-link);
  }

  .link_og_pil p {
    font-size: var(--font-size-desktop-link);
  }

  /**************** TEMA 3-5 ***************/

  .grid_tema_3-5 {
    margin-inline: var(--margin-inline-desktop-tema-text);
  }

  .proces_midt_cirkel {
    margin-block: 0;
    margin-bottom: 50px;
  }

  /**************** TEMA 5 ***************/

  .video iframe {
    width: 420px;
  }

  .video {
    margin-bottom: 30px;
  }

  /**************** OM MIG ***************/

  .om_mig {
    width: fit-content;
  }

  .om_mig h1 {
    font-size: var(--font-size-desktop-h1);
    writing-mode: sideways-lr;
  }

  .om_mig p {
    margin-inline: 0;
  }

  .portraet_trekant {
    margin-left: 200px;
  }

  .portraet_trekant img:last-of-type {
    margin-inline: 0;
    margin-top: 0;
    margin-left: 200px;
  }

  .portraet_trekant img:first-of-type {
    width: 500px;
    margin: 0;
  }

  .grid_udvikling_kompetencer {
    margin-inline: var(--margin-inline-desktop-tema-text);
  }

  .om_mig_circel_1 {
    margin-right: 300px;
  }

  .bars {
    margin-right: 30px;
  }

  .uddannelse_erfaring_p {
    margin-inline: var(--margin-inline-desktop-tema-text);
  }

  /* .uddannelse_erfaring_p > div:last-child{
    margin-top: 40px;
  } */

  .test {
    margin-top: 40px;
  }

  /**************** SCROLL ANIMATIONER ***************/

  /**** PROGRESS BAR I TOP *****/

  html::before {
    content: "";
    inset: 0;
    background-color: var(--color-rectangle);
    block-size: 4px;
    animation: site-progress linear both;
    animation-timeline: scroll();
    position: fixed;
    transform-origin: 0 0;
    z-index: 1010;
  }

  @keyframes site-progress {
    from {
      scale: 0 1;
    }
  }

  /***** FORSIDEN *****/
  .forside_trekant {
    animation: drop_down linear both;
    animation-timeline: scroll();
    animation-range: 0px 400px;
  }

  @keyframes drop_down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(310px);
    }
  }

  /***** OM MIG *****/

  .om_mig_trekant {
    animation: drop_down_om_mig linear both;
    animation-timeline: scroll();
    animation-range: 0px 1000px;
  }

  @keyframes drop_down_om_mig {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(920px);
    }
  }

  /***** GENNEMGÅENDE PÅ ALLE TEMAER *****/

  /* trekant */
  .trekant_tema {
    animation: drop_down_tema linear both;
    animation-timeline: scroll();
    animation-range: 0px 400px;
  }

  @keyframes drop_down_tema {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(260px);
    }
  }

  /* proces - løsning */
  .tema_3-5_loesning {
    animation: circle_til_loesning_3-5 linear both;
    animation-timeline: view();
    animation-range-start: 15%;
    animation-range-end: 50%;
  }

  @keyframes circle_til_loesning_3-5 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-1000px, 260px);
    }
  }

  /* løsning - reflektioner */
  .tema_2-5_circle_loesning {
    animation: circle_til_reflektioner linear both;
    animation-timeline: view();
    animation-range-start: 20%;
    animation-range-end: 50%;
  }

  @keyframes circle_til_reflektioner {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-780px, 260px);
    }
  }

  /***** TEMA 2 *****/

  /* proces - løsning */
  .tema_2_circle_proces {
    animation: circle_til_loesning linear both;
    animation-timeline: view();
    animation-range-start: 15%;
    animation-range-end: 50%;
  }

  @keyframes circle_til_loesning {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-1000px, 260px);
    }
  }

  /***** TEMA 3-5 *****/
  .tema_3-4_proces {
    animation: circle_midt_proces linear both;
    animation-timeline: view();
    animation-range-start: 15%;
    animation-range-end: 50%;
  }

  @keyframes circle_midt_proces {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-1000px);
    }
  }

  /***** TEMA 5 *****/

  /* midt proces */
  .tema_5_proces {
    animation: circle_midt_proces_5 linear both;
    animation-timeline: view();
    animation-range-start: 20%;
    animation-range-end: 50%;
  }

  @keyframes circle_midt_proces_5 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-1000px);
    }
  }
}

/* 

- css scroll animationer på figurer - tjek
- progress bar i toppen af siderne - tjek
- active class på - tjek


- javascript (overvej om et er fint alle billeder bliver farvet, og så tilføj en scale til det enkelte man hover over i css)
  kan også tilføje en mouseover funktion til link i stedet for, og så lave farveændringen på billederne med css - tjek

- ordne billeder projekt og index - tjek
- implementering af den røde - måske sæt øverst i kolonne 3 i proces og løsning og reflektion? - tjek

- bg farve - tjek
- favikon
 */
